.main-container {
  margin: 0 auto;
  width: 57%;
    // HEADER SECTION
.title {
    // header top link list
    &__link-list{
      display: flex;
      list-style: none;
      margin-top: 3rem;
        &__text{
          font-size: 20px;
          text-decoration: none;
          margin-right:  14px;;
          border-bottom: 1px solid #cd0912;
          color: #6D6D72;
          &:hover{
            color: #cd0912;
          }
        }
      }
    &__chevron{
      margin-right: 10px;
    }

    // HEADER
    &__header{
        &__heading{
          font-family: 'Noto Sans', sans-serif;
          font-size: 64px;
          font-weight: 700;
          line-height: 68px;
          margin-top: 3rem;
          margin-bottom: 1rem;
        }

        &__paragraph{
          font-family: 'Noto Serif', sans-serif;
          font-size: 26px;
          font-weight: 400;
          padding-bottom: 14px;
          border-bottom: 1px solid #EAEAEA;
        }
    }
    &__author{
      font-weight: 400;
      font-size: 23px;
      margin-top: 16px;
        &__name{
          color: #000;
          text-decoration: none;
          border-bottom: 1px solid #cd0912;
        }
    }
    &__figure{
      margin: 3rem 0;
      &__img{
        display: block;
        width: 510px;
        margin: 0 auto;

      }
    }
   }


//    MAIN CONTENT
  .main-content{
    font-family: 'Noto Serif', sans-serif;
    margin-top: 1rem;
    .figure{
      margin-top: 2rem;
      &__image{
        display: block;
        margin: 0 auto;
        width: 80%;
      }
    }
      // PARAGRAPHS
    &__paragraph{
      font-size: 22px;
      font-weight: 400;
      line-height: 34px;
      margin-top: 1rem;
    }

    &__heading{
      font-family: 'Noto Sans', sans-serif;
      margin-top: 1rem;
      &__title{
        font-size: 32px;
        font-weight: 600;
        
        &--font{
          font-size: 24px;
          font-weight: 320;
          padding-top: 1rem;
        }

      }
    }

  }

}