.footer{
    font-family: 'Noto Sans', sans-serif;
    font-size: 26px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3rem;
    color: #fff;
    background-color: #CD0812;
    // MEDIA QUERIES
    @include respond(tab-port){
        justify-content: space-between;
    }
    @include respond(small-phone){
        font-size: 20px;
        flex-direction: column;
    }

    // LOGO
    &__figure{
        flex: 0 0 100%;
        &__logo{
            margin-top: 1.5rem;
            margin-left: 16rem;
            width: 240px;
            // MEDIA QUERIES
            @include respond(tab-port){
                margin-left: 10px;
            }
        }
    }

    // FIRST CONTAINER
    &__first__list{
        flex: 0 0 15%;
        list-style: none;

        // MEDIA QUERIES
        @include respond(tab-port){
            flex: 0 0 25%;
        }
          @include respond(phone){
            flex: 0 0 10%;
        }

        &__items{
            margin: 12px 16px;
                
            &:nth-child(4) {
                margin: 52px 16px;
                       // MEDIA QUERIES
                       @include respond(small-phone){
                        margin: 0 16px;
                    }
              }
            &:nth-child(7){
                margin: 52px 16px;
                       // MEDIA QUERIES
                       @include respond(small-phone){
                        margin: 0 16px;
                    }
            }
            &:nth-child(9){
                margin: 52px 16px;
                       // MEDIA QUERIES
                       @include respond(small-phone){
                        margin: 0 16px;
                    }
             
            }
            
        }
    }

    // SECOND CONTAINER
    &__second__list{
        flex: 0 0 18%;
        list-style: none;
             // MEDIA QUERIES
             @include respond(tab-port){
                flex: 0 0 25%;
            }
            @include respond(phone){
                flex: 0 0 25%;
            }
            @include respond(small-phone){
                margin-top: 2rem;
            }

        &__items{
            margin: 12px 16px;

            &:nth-child(4) {
                margin: 52px 16px;
                       // MEDIA QUERIES
                       @include respond(small-phone){
                        margin: 0 16px;
                    }
              }
              &:nth-child(7){
                margin: 210px 0 16px 16px;
                // MEDIA QUERIES
                @include respond(tab-port){
                    margin-top: 176px;
                }
                @include respond(phone){
                    margin-top: 246px;
                }
                @include respond(small-phone){
                    margin: 0 16px;
                }
            }
        }
    }

    // THIRD CONTAINER
    &__third__list{
        flex: 0 0 15%;
        list-style: none;
             // MEDIA QUERIES
             @include respond(tab-port){
                flex: 0 0 25%;
            }
            @include respond(phone){
                flex: 0 0 20%;
            }
            @include respond(small-phone){
                margin-top: 2rem;
            }

        &__items{
            margin: 12px 16px;
            &:nth-child(4) {
                margin: 52px 16px;
                       // MEDIA QUERIES
                       @include respond(small-phone){
                        margin: 0 16px;
                    }
                
              }
              &:nth-child(6) {
                margin-top: 258px;
                // MEDIA QUERIES
                @include respond(small-phone){
                    margin: 0 16px;
                }
            }
              }
           
    
    }

    // FOURTH CONTAINER
    &__fourth__list{
        flex: 0 0 16%;
        list-style: none;
         // MEDIA QUERIES
         @include respond(tab-port){
           flex: 0 0 25%;
        }
        @include respond(phone){
            flex: 0 0 15%;
        }
        @include respond(small-phone){
            margin-top: 2rem;
        }
       
        &__items{
            margin: 12px 16px;
            &:nth-child(4) {
                margin: 52px 16px;
                       // MEDIA QUERIES
                       @include respond(small-phone){
                        margin: 0 16px;
                    }
              }
              &:nth-child(6) {
                margin-top: 252px;
                       // MEDIA QUERIES
                       @include respond(small-phone){
                        margin: 0 16px;
                    }
              }
              &:nth-child(8) {
                margin-top: 98px;
                       // MEDIA QUERIES
                       @include respond(small-phone){
                        margin: 0 16px;
                    }
                
              }
        }
    }

    // SOCIAL MEDIA CONTAINER
    &__social-media{
        display: flex;
        flex: 0 0 70%;
        justify-content: space-around;
        margin-bottom: 1rem;
        list-style: none;
        // MEDIA QUERIES
        @include respond(tab-port){
            flex: 0 0 100%;
        }
        @include respond(small-phone){
            flex-direction: column;
            margin: 32px 16px;
        }
        &__item{
            display: flex;
            &__img{
                width: 34px;
                height: 100%;
                margin-right: 10px;
                align-items: center;
                // MEDIA QUERIES
                @include respond(small-phone){
                    margin-bottom: 12px;
                    width: 27px;
                }
            }
    
        }
    }

    // COPYRIGHT CONTAINER
    &__legal{
        display: flex;
        flex: 0 0 70%;
        justify-content: space-around;
        list-style: none;
        margin-top: 1rem;
        padding-bottom: 2rem;
        border-top: 1px solid #fff;

        // MEDIA QUERIES
        @include respond(tab-port){
            flex: 0 0 95%;
            margin-left: 1rem;
        }
        @include respond(phone){
           justify-content: flex-start;
        }
        @include respond(small-phone){
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
         }
        &__logo{
            margin-top: 1rem;
       
            &__img{
                width: 120px;
            }
        }
        &__text{
            margin-top: 1.5rem;
            margin-right: 15rem;
            font-size: 20px;
            // MEDIA QUERIES
            @include respond(phone){
                flex: 0 0 60%;
                margin-left: 2.5rem;
            }
            @include respond(small-phone){
                font-size: 20px;
                width: 100%;
                margin: 10px auto;
                text-align: center;
             }
           
        }
       
    }
}